rampup-site/n8n/lead-workflow-part2-confirmation-email.json
{
  "name": "RampUp Lead – Part 2 (Confirmation Email to Lead)",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            {
              "id": "check-email-present",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-has-email",
      "name": "Has Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 200],
      "notes": "Only send confirmation if lead provided an email address. False branch is discarded — workflow continues."
    },
    {
      "parameters": {
        "fromEmail": "hello@rampupth.com",
        "toEmail": "={{ $json.email }}",
        "subject": "We've received your request — RampUp",
        "emailFormat": "text",
        "text": "Hi {{ $json.name }},\n\nThank you for reaching out to RampUp.\n\nWe've received your details and our team will review your restaurant and get back to you within 24 hours.\n\nWhat happens next:\nWe'll look at your current setup and prepare some initial thoughts before we connect.\n\nIf you have any questions in the meantime, feel free to reply to this email.\n\nBest,\nThe RampUp Team\nhello@rampupth.com",
        "options": {}
      },
      "id": "node-send-confirmation",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1340, 120],
      "onError": "continueRegularOutput",
      "notes": "onError: continueRegularOutput — if email fails the workflow continues to the next step (Google Sheets)"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Pass lead data through unchanged regardless of whether\n// confirmation email was sent or skipped.\n// Next node: Google Sheets (Part 3)\nreturn $input.all();"
      },
      "id": "node-merge-after-email",
      "name": "Continue to Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200],
      "notes": "Merge point — connect both branches of Has Email? here, then wire to Google Sheets node in Part 3"
    }
  ],
  "connections": {
    "Has Email?": {
      "main": [
        [{ "node": "Send Confirmation Email", "type": "main", "index": 0 }],
        [{ "node": "Continue to Sheets",      "type": "main", "index": 0 }]
      ]
    },
    "Send Confirmation Email": {
      "main": [[{ "node": "Continue to Sheets", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
